*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: rgb(179, 255, 0);
    display: grid;
    place-items: center;      
}

label{
    color: #0f0bd1fd;
}

button{
    color: rgb(72, 48, 95);
    padding: 5px 30px;
    margin: 15px auto;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px;
    cursor: pointer;
}

button:active {
    background-color: aqua;
    box-shadow: inset 3px 3px;
}

.formulario{
    background: white;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cabecalho{
color: blue;
padding: 10px;
text-align: center;

}

.campo{
    padding: 5px 10px;
    width: 100%;
}

.campo input{
    width: 100%;
    height: 30px;
    padding: 5px;
}

.campo input:focus{
    outline: none;
}

.resultado{
    border: 2px solid;
    padding: 5px;
    display: block;
    background-color: chocolate;
}